#filtre {
    flex-wrap: wrap;
}

#hebergement {
    flex-direction: column;
}

#hebergement .marseille,
#hebergement .populaire {
    width: 100%;
    margin-bottom: 20px;
}


#activite .liste-activite  {
    flex-wrap: wrap;
    height: auto;
}

#activite .liste-activite .colone {
    width: 48%;
}

footer {
    flex-direction: column;
}

footer .colone {
    width: auto;
}