@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap");

:root {
    --blue: #0065FC;
    --light-blue: #DEEBFF;
    --grey: #c2c2c2;
}

body {
    font-family: "Raleway", "Sans serif";
    margin: 0;
    padding: 0px 50px;
    font-size: 18px;
}

h1 {
    font-size: 150%;
}

h2 {
    font-size: 120%;
    ;
}

/* header + nav */

header {
    display: flex;
    justify-content: space-between;
    padding: 1px;
}

header #logo {
    padding: 25px 0px;
}

header #logo img {
    width: 150px;
}

header nav ul {
    display: flex;
    list-style-type: none;
    margin: 0;
}

img {
    size: 992px 768px;
}

header nav ul li {
    padding: 50px 25px;
    border-top: 4px solid transparent;
    margin: 0px 20px 0px 20px;
}

header nav ul li:hover {
    border-color: var(--blue);
}

header nav ul li a {
    color: black;
    text-decoration: none;
}

header nav ul li:hover a {
    color: var(--blue);
}


/* title + search-box */

h1 {
    margin-bottom: 0px
}

.subtitle {
    display: block;
    margin-bottom: 20px;
}

.search-box {
    display: inline-block;
    border: 1px solid var(--white);
    border-radius: 20px;
    width: auto;
}

.search-box .fa-map-marker-alt {
    display: inline-block;
    padding: 14px;
    height: 28px;
    font-size: 25px;
    background-color: var(--grey);
    border-radius: 15px 0px 0px 15px;
}

.search-box input {
    outline: none;
    height: 52px;
    margin-left: -5px;
    border: none;
    padding: 10px;
}

.search-box button {
    background-color: var(--blue);
    color: white;
    height: 52px;
    border: none;
    border-radius: 0px 15px 15px 0px;
    padding: 15px;
    cursor: pointer;
}

.search-box button .fa-search {
    display: none;
}


/* Filtres */

#filtre {
    display: flex;
    align-items: center;
}

#filtre .filtre-box {
    margin: 0px 10px;
    border-radius: 30px;
    border: 1px solid var(--grey);
    display: flex;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
}

#filtre .filtre-box i {
    background-color: var(--light-blue);
    height: 50px;
    width: 50px;
    display: inline-block;
    border-radius: 100%;
    color: var(--blue);
    display: flex;
    align-items: center;
    justify-content: center;
}

#filtre .filtre-box:hover {
    background-color: var(--light-blue);
}

#filtre .filtre-box .text {
    padding: 0px 10px;
}


/* Infos */

.info {
    display: flex;
}

.info .fas.fa-info {
    color: var(--blue);
    border: 1px solid var(--grey);
    border-radius: 100%;
    width: 25px;
    height: 25px;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -5px;
    margin-right: 10px;
}

/* Hebergement marseille */

#hebergement {
    display: flex;
    justify-content: space-between;
}

#hebergement section h2 {
    margin-top: 0px;
}

#hebergement section .container {
    padding: 20px 20px 10px 20px;
    border-radius: 20px;
    height: calc(100% - 120px);
    box-sizing: content-box;
    background-color: var(--grey);
}

.hebergement-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.hebergement-list a {
    width: 30%;
    margin-bottom: 50px;
}

.hebergement-list a article {
    background-color: white;
    padding: 6px;
    border-radius: 25px;
    height: 100%;
    box-shadow: 5px 5px 5px 0px #E2E2E2;
}

.hebergement-list a article:hover {
    box-shadow: 5px 5px 5px 0px #E2E2E2;
}

.hebergement-list a article .fa-star.blue {
    color: var(--blue);
}

.hebergement-list a article .fa-star.grey {
    color: var(--grey);
}

.hebergement-list a article img {
    width: 100%;
    height: 200px;
    border-radius: 25px 25px 0px 0px;
    object-fit: cover;
}

.hebergement-list a {
    color: black;
    text-decoration: none;
}

.hebergement-list a article .article-contenue {
    padding: 10px 10px 0px 10px;
}

.hebergement-list a article .article-contenue h3,
.hebergement-list a article .article-contenue p {
    margin: 6px;
}

.hebergement-list a article .article-contenue .price.bold {
    font-weight: bold;
}


/* Marseille */

#hebergement .marseille {
    width: 60%;
    background-color: var(--grey);
    border-radius: 25px;
}

#hebergement .marseille .subtitle {
    font-weight: bold;
    font-size: 120%;
}


/* Populaire */

#hebergement .populaire .chart-icone {
    position: absolute;
    top: 20px;
    right: 20px;
}

#hebergement .populaire {
    background-color: var(--grey);
    border-radius: 25px;
    width: 35%;
    position: relative;
}

#hebergement .populaire .hebergement-list {
    flex-direction: column;
}

#hebergement .populaire .hebergement-list a {
    width: 100%;
}

#hebergement .populaire .hebergement-list a article {
    display: flex;
    flex-direction: row;
}

#hebergement .populaire .hebergement-list a article img {
    border-radius: 25px 0px 0px 25px;
    width: 35%;
}

#hebergement .populaire .hebergement-list a article .article-contenue {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

/* Activité */

#activite {
    margin-bottom: 60px;
}

.liste-activite {
    display: flex;
    justify-content: space-between;
    height: 600px;
}

.liste-activite .colone {
    width: 23%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 25px;
}

.liste-activite .colone article img {
    width: 100%;
    height: calc(100% - 67px);
    object-fit: cover;
    border-radius: 25px 25px 0px 0px;
}

.liste-activite .colone article {
    height: 100%;
    box-shadow: 5px 5px 5px 5px #E2E2E2;
    border-radius: 25px;
}

.liste-activite .colone article h3 {
    padding: 21px;
    margin: 0px;
}

.liste-activite .colone.double article {
    height: 48%;
}

/* Footer */

footer {
    background-color: var(--grey);
    margin: 0px -50px;
    padding: 50px;
    display: flex;
}

footer .colone {
    width: 30%;
}

footer .colone ul {
    padding: 0px;
    list-style-type: none;
}

footer .colone ul li a {
    color: black;
    text-decoration: none;
    line-height: 35px;
}